@font-face {
    font-family: "Univers";
    font-weight: normal;
    src: url(./univers/Univers-light-normal.ttf);
}
@font-face {
    font-family: "Univers";
    font-weight: bold;
    src: url(./univers/UniversBlack.ttf);
}
@font-face {
    font-family: "Univers";
    font-weight: normal;
    src: url(./univers/UniversLTStd.otf);
}
@font-face {
    font-family: "Univers";
    font-weight: bolder;
    src: url(./univers/UniversLTStd-Bold.otf);
}






body{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.container{
    margin: calc(50vh - 300px) auto;
    height: 600px;
    width: 1000px;
}
.graphicContainer{
    height: 300px;
}




#panigaleLine{
    animation: lineanimate 2400ms ease infinite;
    stroke: #008C45;
}
#panigaleLine2{
    animation: lineanimate 2400ms ease infinite 40ms;
    stroke: #F4F5F0;
}
#panigaleLine3{
    animation: lineanimate 2400ms ease infinite 80ms;
    stroke: #CD212A;
}
@keyframes lineanimate{
    0% {
        stroke-dasharray: 1440;
        stroke-dashoffset:  1440;
    }
    40%{
        stroke-dasharray: 1440;
        stroke-dashoffset:  0;
    }
    60%{
        stroke-dasharray: 1440;
        stroke-dashoffset:  0;
    }
    100%{
        stroke-dasharray:  0 1440;
        stroke-dashoffset:  -1440;
    }
}


.textContainer{
    font-size: 4em;
    text-align: center;
    margin: 0.2em auto;
    font-style: italic;
    display: flex;
    justify-content: center;
}
.textContainer>*{
    display: inline-block;
}

.ducati{
    font-family: "Univers", sans-serif;
    font-weight: bold;
    color: black;
    z-index: 1;
    background-color: black;
    transition: 800ms ease-in-out;
}
.ducati.-shown{
    color: white;
}

.corse{
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    color: red;
    z-index: -1;
    line-height: 1.35em;
    transition: 800ms ease-in-out;
}

.-collapsed .ducati{
    transform: translateX(125px);
}
.-collapsed .corse{
    transform: translateX(-100px);
}







.slant {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
}