@font-face {
    font-family: "Univers";
    font-weight: normal;
    src: url(./univers/Univers-light-normal.ttf);
}
@font-face {
    font-family: "Univers";
    font-weight: bold;
    src: url(./univers/UniversBlack.ttf);
}
@font-face {
    font-family: "Univers";
    font-weight: normal;
    src: url(./univers/UniversLTStd.otf);
}
@font-face {
    font-family: "Univers";
    font-weight: bolder;
    src: url(./univers/UniversLTStd-Bold.otf);
}






body{
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

.container{
    margin: calc(50vh - 300px) auto;
    height: 600px;
    width: 1000px;
}




#panigaleLine{
    animation: lineanimate 2s ease infinite;
    stroke: #ffffff;
}
@keyframes lineanimate{
    0% {
        stroke-dasharray: 1440;
        stroke-dashoffset:  1440;
    }
    30%{
        stroke-dasharray: 1440;
        stroke-dashoffset:  0;
    }
    70%{
        stroke-dasharray: 1440;
        stroke-dashoffset:  0;
    }
    100%{
        stroke-dasharray:  0 1440;
        stroke-dashoffset:  -1440;
    }
}


.textContainer{
    font-size: 4em;
    text-align: center;
    margin-top: 1em;
    font-style: italic;
}
.textContainer>*{
    display: inline-block;
}

.ducati{
    font-family: "Univers", sans-serif;
    font-weight: bold;
    color: white;
    height: 75px;
}


.corse{
    font-family: "Helvetica", sans-serif;
    font-weight: 300;
    text-align: center;
    color: red;
    height: 75px;
}







.slant {
    -moz-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    -webkit-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    -o-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    -ms-transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(5deg, 0deg);
}